---

- name: Update & Upgrade YUM Packages
  yum:
    name: "*"
    state: latest
  tags: loadbalancer

- name: Stop and disable firewalld
  command: systemctl stop firewalld
  ignore_errors: true
  tags: preinstall

- name: Disable firewalld service
  command: systemctl disable firewalld
  ignore_errors: true
  tags: preinstall

- name: Disable SELinux (runtime)
  command: setenforce 0
  ignore_errors: yes
  tags: loadbalancer

- name: Disable SELinux permanently
  lineinfile:
    path: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=disabled'
  tags: loadbalancer

- name: Add sysctl settings to sysctl.conf
  lineinfile:
    path: /etc/sysctl.conf
    line: "{{ item }}"
  loop:
    - "net.ipv4.ip_nonlocal_bind=1"
    - "net.ipv4.ip_forward=1"
  tags: loadbalancer

- name: Apply sysctl settings
  command: sysctl -p
  tags: loadbalancer

- name: Install keepalived and haproxy
  yum:
    name: "{{ item }}"
    state: present
  loop:
    - keepalived
    - haproxy
  tags: loadbalancer

- name: Create check_apiserver.sh script
  template:
    src:  check_apiserver.sh.j2
    dest: /etc/keepalived/check_apiserver.sh
    mode: '0755'
  tags: loadbalancer

- name: Create keepalived.conf file
  template:
    src:  keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    mode: '644'
  tags: loadbalancer

- name: Enable and start keepalived service
  service:
    name: keepalived
    state: started
    enabled: yes
  tags: loadbalancer

- name: Configure haproxy
  template:
    src:  haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: '644'
  tags: loadbalancer

- name: Enable and restart haproxy service
  service:
    name: haproxy
    state: restarted
    enabled: yes
  tags: loadbalancer

- name: Disable swap and remove swap entry from /etc/fstab
  command: "{{ item }}"
  loop:
    - swapoff -a
  tags: loadbalancer

- name: disable SWAP in fstab
  lineinfile:
    path: /etc/fstab
    regex: '^/dev/mapper/rhel-swap.*'
    line: '# /dev/mapper/rhel-swap'
  tags: loadbalancer